body {
  font-family: 'Share Tech Mono', monospace;
}

.timer {
  margin: auto;
  padding: 5vmin;
  display: flex;
  width: 85vmin;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 5vmin;
  background-color: #0a0a0a;
  background-image: -webkit-repeating-linear-gradient(315deg,  
  #232323, #232323 10%,  
  transparent 10%, transparent 50%
  ),
  -webkit-repeating-linear-gradient(225deg,  
  #232323, #232323 10%,  
  transparent 10%, transparent 50%
  );
  background-image: repeating-linear-gradient(135deg,  
  #232323, #232323 10%,  
  transparent 10%, transparent 50%
  ),
  repeating-linear-gradient(-135deg,  
  #232323, #232323 10%,  
  transparent 10%, transparent 50%
  );
  background-size: 12px 12px;
  
}

.field {
  width: 20vmin;
}

.field:not(:last-child){
  position: relative;
  margin-right: 3vmin;
}

.value {
  display: block;
  margin-bottom: 2vmin;
  padding: 3vmin 1vmin 3vmin 2vmin;
  text-align: center;
  font-size: 10vmin;
  letter-spacing: 1vmin;
  font-weight: 500;
  border-radius: 3vmin;
  background-color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
  color: #ffffff;
  background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    background-size: 100%;
}

.field:not(:last-child)::after{
  content: ':';
  position: absolute;
  top: 20%;
  left: 100%;
  font-size: 7vmin;
  background-color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 0 5px rgba(10, 175, 230, 1),  0 0 5px rgba(10, 175, 230, 0);
  color: #ffffff;
  background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    background-size: 100%;
}

.label {
  display: block;
  font-size: 3vmin;
  text-align: center;
  border-radius: 3vmin;
  background-color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
  color: #ffffff;
  background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    background-size: 100%;
}