:root {
  --font: 'Share Tech Mono', monospace;

  --txt-color: #fff;
  --txt-bgd-color: #0f3854;
  --txt-bgd-gradient: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
  --txt-shadow: 0px 0 20px rgb(21, 230, 10),  0 0 20px rgba(10, 175, 230, 0);

  --timer-bgd: #141414;
  --line-color: #495a56;
  
  --border-color: #000;
}

body {
  font-family: var(--font)
}

.timer {
  margin: auto;
  padding: 5vmin;
  display: flex;
  width: 85vmin;
  justify-content: center;
  border: 1px solid var(--border-color);
  border-radius: 3vmin;
  background-color: var(--timer-bgd);
  background-image: -webkit-repeating-linear-gradient(315deg,  
  var(--line-color), var(--line-color) 10%,  
  transparent 10%, transparent 50%
  ),
  -webkit-repeating-linear-gradient(225deg,  
  var(--line-color), var(--line-color) 10%,  
  transparent 10%, transparent 50%
  );
  background-image: repeating-linear-gradient(135deg,  
  var(--line-color), var(--line-color) 10%,  
  transparent 10%, transparent 50%
  ),
  repeating-linear-gradient(-135deg,  
  var(--line-color), var(--line-color) 10%,  
  transparent 10%, transparent 50%
  );
  background-size: 12px 12px;
  
}

.field {
  width: 20vmin;
}

.field:not(:last-child){
  position: relative;
  margin-right: 7vmin;
}

.value {
  display: inline-block;
  margin-bottom: 3vmin;
  padding: 3vmin 2vmin;
  text-align: center;
  font-size: 10vmin;
  font-weight: 500;
  border-radius: 3vmin;
  text-shadow: var(--txt-shadow);
  color: var(--txt-color);
  background: var(--txt-bgd-color);
    background: var(--txt-bgd-gradient);
    background-size: 100%;
}

.field:not(:last-child)::after{
  content: ':';
  position: absolute;
  top: 20%;
  left: 109.6%;
  font-size: 7vmin;
  border-radius: 2vmin;
  text-shadow: var(--txt-shadow);
  color: var(--txt-color);
  background: var(--txt-bgd-color);
    background: var(--txt-bgd-gradient);
    background-size: 100%;
}

.label {
  display: block;
  padding: 1vmin;
  font-size: 3vmin;
  text-align: center;
  border-radius: 3vmin;
  text-shadow: var(--txt-shadow);
  color: var(--txt-color);
  background: var(--txt-bgd-color);
    background: var(--txt-bgd-gradient);
    background-size: 100%;
}
